<h3>{{'CONTRACT_UPLOAD_FILE_TITTLE'| translate}}</h3>
<div class='row'>
<div class="col-md-6">
	<div class="input-group">
  	<span class="input-group-addon" id="basic-addon1">{{ 'CONTRACT_UPLOAD_ENTITY' | translate }}</span>
	<input type="text" id="search" ng-model="search" ng-change="loadlistentities(1)" placeholder="{{'CONTRACT_UPLOAD_ENTITY_FIND' | translate }}" class="form-control">
	<span class="input-group-addon glyphicon glyphicon-search"></span>
	</div>
</div>
<div class="col-md-5">
<div class="btn-toolbar" role="toolbar">
<div class="btn-group" role="group" aria-label="First group">
        <button type="button" class="btn btn-default" ng-click="loadlistentities($index+1)" ng-repeat="a in range(numPages) track by $index">{{$index + 1}}</button>
 </div>
</div>
</div>
</div>
<br>
<div class='row'>
<div class="col-md-11">
<div class="well">
<div class="table-responsive" style="height : 600px; overflow : auto;">
<table class="table table-hover">
<tr>
<th>{{'CONTRACT_TABLE_DOC_ENTITY'| translate}}</th>
<th>{{'CONTRACT_TABLE_NAME_ENTITY'| translate}}</th>
<th>{{'CONTRACT_TABLE_NUM_CONTRACT'| translate}}</th>
<th>{{'CONTRACT_TABLE_DATE_CONTRACT'| translate}}</th>
<th>{{'CONTRACT_TABLE_URL_CONTRACT'| translate}}</th>
<th>{{'CONTRACT_TABLE_URL_SUPERVISOR'| translate}}</th>
<th>{{'CONTRACT_TABLE_URL_OTROSI'| translate}}</th>
</tr>
<tr ng-repeat="dt in Entities.rows"  class="{{(dt.nContrato)?'':'success'}}" >
<td>{{dt[5]}} {{dt[6]}}-{{dt[7]}}</td>
<td>{{dt[8]}}</td>
<td>{{dt.nContrato}}</td>
<td>{{dt.fContrato}}</td>
<td><a ng-click="openAddinfo('','Contrato',dt.rContrato,dt.DataEvent)" class="btn btn-info"><span class="{{dt.rContrato!=undefined?'glyphicon glyphicon-paperclip':'glyphicon glyphicon-plus-sign'}}" aria-hidden="true"></span> </a></td>
<td>
<a ng-click="openAddinfo('','ListContract',dt.rSupervision,dt.DataEvent)" class="btn btn-info"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> </a>

<a ng-click="openAddinfo('','Supervision',dt.rSupervision,dt.DataEvent)" class="btn btn-info"><span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span> </a>
</td>
<td>
<a ng-click="openAddinfo('','ListOtrosi',undefinded,dt)" class="btn btn-info"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> </a>
<a ng-hide="dt.ruta" ng-click="openAddinfo('','Adicional - Otro Si',undefinded,dt)" class="btn btn-danger"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>


</td>
</tr>
</table>

</div>
</div>
</div>
</div>

<script type="text/ng-template" id="myModalContent.html">
      
	<div class="modal-header">
		<div class="page-header">
		 <h3 class="modal-title">{{'CONTRACT_ADD_INFORMATION_TITTLE'| translate}}  <small>{{typeattachselected}}</small> </h3>
		</div>           

     </div>
     <div class="modal-body">
            
			<!-- Contract div -->
			<div class='row' ng-show="showinfocontract">
				<div class="col-md-6">
					<label>{{'CONTRACT_UPLOAD_CONTRACT'| translate}}</label>
 				   <input type="text" class="form-control" placeholder="numero de contrato" ng-model="ContractNumber" />

				</div>
			 	<div class="col-md-6">
			       		<label>{{'CONTRACT_UPLOAD_CONTRACT_DATE'| translate}}</label>
			            <p class="input-group">
			              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="ContractDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
			     </div>
		

			<div class="row">
				<div class="col-md-12">
				<br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">{{'CONTRACT_UPLOAD_CONTRACT_ATTACHED'| translate}}</h3>
					  </div>
					  <div class="panel-body">
					    
					    <input type="file" file-model="myFile" accept="application/pdf"/>
						<div class="row">
							<div class="col-md-10">
							<progressbar class="progress-striped {{upactive}}" max="100" value="progress" type="warning"></progressbar>
							</div>
							<div class="col-md-2">
							<span class="glyphicon glyphicon-ok" ng-show="showinfo" aria-hidden="true"></span>
							</div>
						</div>
						<button type="button" class="btn btn-info" ng-click="uploadFile()">{{'CONTRACT_UPLOAD_FILE_BUTTON'| translate}}</button>
						{{imgurl}}
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!-- end Contract div -->

		 <!-- Supervision div -->

		<div class="row" ng-show="showinfosupervision">
		<div class="col-md-11">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{'CONTRACT_SUPERVISOR_TITTLE'| translate}}</h3>
			  </div>
			  <div class="panel-body">
					<div class="col-md-11">
					<div class="row">
						<div class="col-md-11">
							<label>{{'CONTRACT_SUPERVISOR_NAME'| translate}}</label>
		 				   <d2-dropdownoptionset uidoption="H6K1g3cTydR" optionvalue="supervisor" placeholder="Escriba el nombre del supervisor"></d2-dropdownoptionset>
						</div>
						<div class="col-md-11">
							<label>{{'CONTRACT_SUPERVISOR_TYPE'| translate}}</label>
		 				   <d2-dropdownoptionset uidoption="UH4H0QcW20M" optionvalue="vinculacion" placeholder="Escriba el tipo de vinculación"></d2-dropdownoptionset>
		 				</div>
						<div class="col-md-11">
							<label>{{'CONTRACT_SUPERVISOR_CONCEPT'| translate}}</label>
		 				    <d2-dropdownoptionset uidoption="eMwN8EaVXDs" optionvalue="concepto" placeholder="Escriba el concepto de asignación o cambio"></d2-dropdownoptionset>

						</div>


						<div class="col-md-11" ng-hide="currentsupervisior==undefined?false:true">
							<label>{{'CONTRACT_SUPERVISOR_INITDATE'| translate}}</label>
		 				       <p class="input-group">
			              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="initDate" is-open="openedinit" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="openinitsup($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
						</div>

						<div class="col-md-11" ng-hide="currentsupervisior==undefined?false:true">
							<label>{{'CONTRACT_SUPERVISOR_ENDDATE'| translate}}</label>
		 				     <p class="input-group">
			              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="endDate" is-open="openedend" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="openendsup($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
						</div>	


 				   </div>
			  </div>
			</div>
		</div>  
		</div>  
		</div>
		<!-- end Supervision div -->

		<!-- Otro Si -->

		<div class="row" ng-show="showinfootrosi">
			<div class="col-md-11">
				
							<div class="panel panel-default">
							  <div class="panel-heading">
							    <h3 class="panel-title">Adjuntar Otro si</h3>
							  </div>
							  <div class="panel-body">
							    
							    <input type="file" file-model="myFile" accept="application/pdf"/>
								<div class="row">
									<div class="col-md-10">
									<progressbar class="progress-striped {{upactive}}" max="100" value="progress" type="warning"></progressbar>
									</div>
									<div class="col-md-2">
									<span class="glyphicon glyphicon-ok" ng-show="showinfo" aria-hidden="true"></span>
									</div>
								</div>
								<button type="button" class="btn btn-info" ng-click="uploadFile()">{{'CONTRACT_UPLOAD_FILE_BUTTON'| translate}}</button>
								{{imgurl}}
							  </div>
							</div>
					
			</div>  
		</div>  
		<!-- end Otro Si -->
<!-- List Supervision -->

		<div class="row" ng-show="showlistOtrosi">
			<div class="col-md-11">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Otro Si</h3>
				  </div>
				  <div class="panel-body">
					<table class="table table-condensed">
				      <thead>
				        <tr>
				          <th>#</th>
				          <th>Documento</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr ng-repeat="os in formListOtrosi">
				          <td scope="row">{{os.codigo}}</td>
				          <td><a target="_blank" href="{{os.ruta==undefined?'#':os.ruta}}">{{os.ruta==undefined?"Pendiente de importar":"Descargar"}}</a></td>
				        </tr>				         			        			        
				      </tbody>
				    </table>
				  </div>
				</div>
			</div>  
		</div>  
		<!-- end Supervision -->
		<!-- List Supervision -->

		<div class="row" ng-show="showlistSupervision">
			<div class="col-md-11">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">{{'CONTRACT_SUPERVISOR_TITTLE'| translate}}</h3>
				  </div>
				  <div class="panel-body">
					<table class="table table-condensed">
				      <thead>
				        <tr>
				          <th>#</th>
				          <th>Supervisor</th>
				           <th>Vinculación</th>
				          <th>Descripción</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr>
				          <td>{{formListSupervision.number1}}</td>
				          <th scope="row">{{formListSupervision.supervisor1}}</th>
				          <td ng-hide="formListSupervision.number1==undefined?true:false">{{formListSupervision.vinculacion1=='I'?'Interno':'Externo'}}</td>
				          <td>{{formListSupervision.concepto1}}</td>
				        </tr>				        
				        <tr ng-hide="formListSupervision.number2==undefined?true:false">
				          <td>{{formListSupervision.number2}}</td>
				          <th scope="row">{{formListSupervision.supervisor2}}</th>
				          <td>{{formListSupervision.vinculacion2=='I'?'Interno':'Externo'}}</td>
				          <td>{{formListSupervision.concepto2}}</td>
				        </tr>
				        <tr ng-hide="formListSupervision.number3==undefined?true:false">
				          <td>{{formListSupervision.number3}}</td>
				          <th scope="row">{{formListSupervision.supervisor3}}</th>
				          <td>{{formListSupervision.vinculacion3=='I'?'Interno':'Externo'}}</td>
				          <td>{{formListSupervision.concepto3}}</td>
				        </tr>
				        <tr ng-hide="formListSupervision.number4==undefined?true:false">
				          <td>{{formListSupervision.number4}}</td>
				          <th scope="row">{{formListSupervision.supervisor4}}</th>
				          <td>{{formListSupervision.vinculacion4=='I'?'Interno':'Externo'}}</td>
				          <td>{{formListSupervision.concepto4}}</td>
				        </tr>
				        <tr ng-hide="formListSupervision.number5==undefined?true:false">
				          <td>{{formListSupervision.number5}}</td>
				          <th scope="row">{{formListSupervision.supervisor5}}</th>
				          <td>{{formListSupervision.vinculacion5=='I'?'Interno':'Externo'}}</td>
				          <td>{{formListSupervision.concepto5}}</td>
				        </tr>
				      </tbody>
				    </table>
				  </div>
				</div>
			</div>  
		</div>  
		<!-- end Supervision -->
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <!-- Button -->
        <div class="modal-footer">
            <button class="btn btn-primary" ng-hide="showlistSupervision || showlistOtrosi" ng-click="ok()">{{'CONTRACT_UPLOAD_BUTTON_SAVE'| translate}}</button>
            <button class="btn btn-warning" ng-click="cancel()">{{'CONTRACT_UPLOAD_BUTTON_CANCEL'| translate}}</button>
        </div>

     </div>

    </script>



